{
  "presets": ["next/babel"],
  "plugins": [
    [
      "./node_modules/data-testid-guidelines-babel-plugin/dist/index.js",
      {
        "attributeName": "data-testid",
        "autoGenerate": true,
        "respectExisting": true
      }
    ]
  ]
}
